table {
    width: 100%;
  }
  
  th{
    width: 10%;
 } 
.pointer {
    cursor: pointer;
    
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.icon-container {
  position: absolute;
  right: 8px; /* Ajustez cette valeur selon vos besoins */
  cursor: pointer;
}
