<div *ngFor = "let d of deliverers" class="row" >
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body" >
          <h5 class="card-title">{{d.firstName}}</h5>
          <li>
            Date de création : {{d.creationDate}}
          </li>
          <li>
            Disponibilité : {{d.isAvailable}}
          </li>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
          </button>
          <app-details-deliverer></app-details-deliverer>
          <a class="btn btn-primary">Voir details <i class="bi bi-eye"></i></a>
        </div>
      </div>
    </div>
</div>