<h2 mat-dialog-title>Ajouter un livreur</h2>
<mat-dialog-content>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Nom </mat-label>
        <input matInput type="text" placeholder="Entrer le nom du livreur" [(ngModel)]="firstName">
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="firstName" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Prénom </mat-label>
        <input matInput type="text" placeholder="Entrer le Prénom du livreur" [(ngModel)]="lastName">
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="lastName" (click)="lastName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-slide-toggle [(ngModel)] = "available">Statut : {{available ? 'Disponible' : 'Pas Disponible'}}</mat-slide-toggle>
    </div>
  </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="false">Annuler</button>
      <button mat-button color="primary" (click)="onSubmit()">Valider</button>
    </mat-dialog-actions>

    <!---->