<h2 mat-dialog-title>Ajouter une tournée </h2>
<mat-dialog-content>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Nom </mat-label>
        <input matInput type="text" placeholder="Entrer le nom de la tournée" [(ngModel)]="value">
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="value" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  

      <mat-form-field>
        <mat-label>Entre deux dates</mat-label>
        <mat-date-range-input  [rangePicker]="dateRangePicker">
          <input matStartDate formControlName="start" placeholder="Date de début">
          <input matEndDate formControlName="end" placeholder="Date de fin">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  
        <!--mat-error *ngIf="dateRangeFormGroup.hasError('matStartDateInvalid')">Date de début invalide</mat-error>
        <mat-error *ngIf="dateRangeFormGroup.hasError('matEndDateInvalid')">Date de fin invalide</mat-error-->
      </mat-form-field>
    </div>
  </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="false">Annuler</button>
      <button mat-button color="primary" >Valider</button>
    </mat-dialog-actions>

    <!--(click)="onSubmit(queryNameInput.value)"-->