<h2 mat-dialog-title>Ajouter une livraison </h2>
<mat-dialog-content>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Adresse de ramassage </mat-label>
        <input matInput type="text" placeholder="Entrer l'adresse de ramassage" [(ngModel)]="ramassage">
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="ramassage" (click)="ramassage=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Adresse de dépot </mat-label>
        <input matInput type="text" placeholder="Entrer l'adresse de dépot" [(ngModel)]="depot">
        <button matSuffix mat-icon-button aria-label="Clear" *ngIf="depot" (click)="depot=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  
    </div>
  </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="false">Annuler</button>
      <button mat-button color="primary" (click)="onSubmit()" >Valider</button>
    </mat-dialog-actions>
